Repository huangcheng/wordpress-theme-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run eslint, npm run stylelint, npm run check-spelling, npm run phplint

.lintstagedrc:

{
  "*.{js,mjs,ts}": ["npm run prettier", "npm run eslint"],
  "*.css": ["npm run prettier", "npm run stylelint"],
  "*.{js,mjs,ts,css,php,html}": ["npm run check-spelling"],
  "*.php": ["npm run prettier", "npm run phplint"]
}

chore: add theme file structure
  rollup.config.mjs
  src/404.php
  src/archive.php
  src/assets/.gitkeep
  src/comments.php
  src/footer.php
  src/front-page.php
  src/functions.php
  src/header.php
  src/inc/.gitkeep
  src/page.php
  src/search.php
  src/searchform.php
  src/sidebar.php
  src/single.php
  src/template-parts/footer/.gitkeep
  src/template-parts/header/.gitkeep
  src/template-parts/navigation/.gitkeep
  src/template-parts/page/.gitkeep
  src/template-parts/post/.gitkeep
Due: npm run prettier, npm run eslint, npm run check-spelling, npm run phplint

fix: the eslint configuration issue
  .watchrc
  eslint.config.mjs
  package.json
  scripts/watch.mjs
  src/scripts/index.ts
Due: npm run prettier, npm run eslint, npm run check-spelling

chore: modify the configuration of rollup
  .cspell/dict.dic
  rollup.config.mjs
  scripts/watch.mjs
Due: npm run prettier, npm run eslint, npm run check-spelling

chore: modify the configuration of TypeScript
  tsconfig.json
Due: none

build: add the terser plugin for rollup
  package.json
  rollup.config.mjs
Due: npm run prettier, npm run eslint, npm run check-spelling

chore: format the tsconfig.json file
  .lintstagedrc
  tsconfig.json
Due: none

chore: add the autoprefixer and tailwindcss/nesting plugin
  package.json
  postcss.config.mjs
Due: npm run prettier, npm run eslint, npm run check-spelling

fix: assets output directory
  package.json
Due: none

chore: set project to module
  package.json
Due: none
